.btn.btn-primary {
    color: #FFF;
}

.btn {
    margin-right: 5px;
}

.btn-informacao {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
    background-color: #005484;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.btn-informacao:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,84,132,.5)
}

.btn-informacao:hover {
    background-color: #003C5E;
}
