.saiba-mais{
    background: #1167aa;
    border: 1px solid #1167aa;
    border-radius: 7px;
    color: #fff;
    margin-bottom: 3px;
    padding: 2px 7px;
    transition-duration: 0.7s;
    width: 10%;
    margin-left: 12px;
}

.saiba-mais:hover{
    background: #fff;
    color: #1167aa;
    transition-duration: 0.3s;
}

.hideable{
    overflow-y: hidden;
    max-height: 1000px;
    transition: max-height 0.8s ease-in;
}

.hide{
    border-color: #fff !important;
    max-height: 0 !important;
    transition: max-height 0.4s ease-out, border 0.4s ease-out;
}