.tab-content {
    background: #FFF;
    padding: 10px;
    border: 1px solid #dee2e6;
}

.tab-content.no-border-top {
    border-top: none;
}

.tab-page .logo {
    margin-right: 50px;
    position: absolute;
}

.tab-top {
    background: $color-primary;
    color: #FFF;
}