.table>caption+thead>tr:first-child>td, 
.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>td, 
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

.table-responsive{
    width: 100% !important;
  }
  
  .table {
      width: 75% !important;
      margin: auto;
      text-align: center;
  }
  
  .table-status {
      margin-top: 20px;
      margin-bottom: 20px !important;
  }
