$font-default: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

// Cores
$color-background: #f3f3f4;
$color-gray: #7c7e80;
$color-white: #FFF;

$color-primary: #9da348;
$color-secondary: #F58634;

$color-page-header-bg: $color-primary;
$color-page-header-text: #FFF;